$color-red: #F44336;
$color-blue: #2196F3;
$color-amber: #FFC107;
$color-green: #4CAF50;
$color-cyan: #00BCD4;
$color-purple: #9C27B0;
$color-indigo: #3F51B5;
$color-purple-dark: #673AB7;

$color-grey: #EEEEEE;
$color-grey-light: #F5F5F5;
$color-grey-light-1: #FAFAFA;
$color-grey-dark: #212121;
$color-grey-dark-1: #424242;

$color-white: #FFFFFF;
$color-black: #000000;
